[SddmGreeterTheme]
Name=Spiderverse
Description=Spiderverse for sddm
Type=sddm-theme
Version=1.0
Website=https://github.com/shaaanuu/dots
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=Catppuccin
Theme-API=2.0
License=MIT
QtVersion=6
